// Bodoni MT
@font-face {
  font-family: 'Bodoni MT';
  src: url('fonts/BOD_R.ttf');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Bodoni MT';
  src: url('fonts/BOD_I.ttf');
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: 'Bodoni MT';
  src: url('fonts/BOD_B.ttf');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Bodoni MT';
  src: url('fonts/BOD_BI.ttf');
  font-weight: bold;
  font-style: italic;
}

// Bodoni MT Black
@font-face {
  font-family: 'Bodoni MT Black';
  src: url('fonts/BOD_BLAR.ttf');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Bodoni MT Black';
  src: url('fonts/BOD_BLAI.ttf');
  font-weight: normal;
  font-style: italic;
}

// Bodoni MT Condensed
@font-face {
  font-family: 'Bodoni MT Condensed';
  src: url('fonts/BOD_CB.ttf');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Bodoni MT Condensed';
  src: url('fonts/BOD_CBI.ttf');
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: 'Bodoni MT Condensed';
  src: url('fonts/BOD_CI.ttf');
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: 'Bodoni MT Condensed';
  src: url('fonts/BOD_CR.ttf');
  font-weight: normal;
  font-style: normal;
}

// Bodoni MT Poster
@font-face {
  font-family: 'Bodoni MT Poster';
  src: url('fonts/BOD_PSTC.ttf');
}
