// Bodoni MT
@font-face {
  font-family: 'Bodoni MT';
  src: url('../fonts/BOD_R.TTF');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Bodoni MT';
  src: url('../fonts/BOD_I.TTF');
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: 'Bodoni MT';
  src: url('../fonts/BOD_B.TTF');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Bodoni MT';
  src: url('../fonts/BOD_BI.TTF');
  font-weight: bold;
  font-style: italic;
}

// Bodoni MT Black
@font-face {
  font-family: 'Bodoni MT Black';
  src: url('../fonts/BOD_BLAR.TTF');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Bodoni MT Black';
  src: url('../fonts/BOD_BLAI.TTF');
  font-weight: normal;
  font-style: italic;
}

// Bodoni MT Condensed
@font-face {
  font-family: 'Bodoni MT Condensed';
  src: url('../fonts/BOD_CB.TTF');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Bodoni MT Condensed';
  src: url('../fonts/BOD_CBI.TTF');
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: 'Bodoni MT Condensed';
  src: url('../fonts/BOD_CI.TTF');
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: 'Bodoni MT Condensed';
  src: url('../fonts/BOD_CR.TTF');
  font-weight: normal;
  font-style: normal;
}

// Bodoni MT Poster
@font-face {
  font-family: 'Bodoni MT Poster';
  src: url('../fonts/BOD_PSTC.TTF');
}
